body {
    font-family: "Open sans", sans-serif;
    background-color: rgb(31, 30, 30);
}

h1,
h2,
h3,
h4 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #A8A9AD;
}

h3,
p,
h4 {
    color: white;
}

header h2 {
    color: #888B8D;
}

footer {
    display: flexbox;
    background-image: linear-gradient(#A8A9AD, black);
}

@media only screen and (max-width:850px) {
    footer {
        display: none;

    }
}

#foot-contain {
    max-width: 1080px;
    margin:auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.jumbotron {
    background-image: linear-gradient(to right, white, #A8A9AD, black);
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

#stream {
    border-bottom: none;
}

.pgetlt {
    text-align: center;
    margin-bottom: 3rem;
}

img {
    margin: auto;
    height: 900px;
    width: 900px;
}

.btn {
    border: none;
    color: black;
    transition: 0.3s;
  }
  
  .btn:hover {
    color: #888B8D;
  }
